
body {
    /* background-color: #0000000; */
    background-image: url("https://media4.giphy.com/media/KZBTBnJt59SUsvag2d/giphy.gif?cid=ecf05e470g6mp9shl9uo8kcmbljmhat2p528kcfvr4b4j5qi&rid=giphy.gif&ct=g");
    background-size: 100%;
    backdrop-filter: blur(30px);
    color: #ac9be3;
}



hr {
    
    border-style:groove;
    height: 0px;
    border-color: royalblue;
    border-width: 2px;
}    


title{
    text-shadow: 4px 4px 4px pink;
    color: #FB2576
    
    
}

h1{
    
    color: #FB2576
    
}

h2{
    color: #FB2576
}

h3{
    color: #FB2576
}


h4{
    color: #FB2576
}


h5{
    color: #FB2576
}


h6{
    color: #FB2576
}


.myphoto {
    color: aqua;
}